{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 *}

{if $outer}
	<div class="form-group-filter mr-2 mb-3">
		{label $input, class => 'filter-range-delimiter control-label text-left' /}
		{ADT\Datagrid\Component\FilterInput::render($input, ['class' => 'form-control text'])|noescape}
	</div>
{else}
	{ADT\Datagrid\Component\FilterInput::render($input)|noescape}
{/if}
